@import 'foodoo.styl'

@font-face
  font-family SomeFont
  font-style normal
  src url(fonts/GeosansLight.ttf)

Component
  font-size 12px
  transform yeah

MyComponent
  background-color red
  display none
  font-family Geo
